.Deleciuse{
    font-family: 'Pacifico', cursive;
    color: rgb(141, 141, 5);
    margin-bottom: 16px;
    margin-top: -18px;
    margin-left: -55px;
    font-size: 29px;
}
.oneplate{
    /* font-family: 'Poppins', sans-serif; */
    letter-spacing: -2px;
    color: rgb(137, 89, 7);
    margin-top: 2px;
}
.hedersec{
    position:fixed;
    z-index: 1;
    width: 100%;
    height: 82px;
    background-color: white;
    border-bottom: 5px solid #753C23;
}
.headerlogo{
    margin-left: 90px;
}
.headerlogo>img{
    width: 50px;
    position:absolute;
    left: 641px;
    top: 19px;
}
#mealspusher{
    margin-top: 10px;
}
.form-control{
    width: 600px;
    border-radius: 30px;
}
.btn-outline-success{
    border-radius: 0px 30px 30px 0px;
    margin-left: -81px;
    background-color: rgb(85, 39, 237);
    color: white;
}
.tertiary{
    background-color: rgb(231, 5, 126);
    height: 100px;
    /* margin-top: 50px; */
    
}
.mealCard{
    cursor: pointer;
}






.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: #0A0826;
}
.footer-header{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.footer-header>h1{
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.footer-header>p{
    font-size: 14px;
    font-weight: bold;
    color: white;
}
.footer-icon{
    text-align: center;
}
.footer-icon>a>i{
    font-size: 25px;
    margin: 10px;
    color: white;
}
.footer-icon>a>.fab{
    transition: linear .5s;
}
.fa-facebook:hover{
    color: #1876EF;
}
.fa-twitter:hover{
    color: #1EA1F2;
}
.fa-whatsapp:hover{
    color: #41C553;
}
.fa-instagram:hover{
    color: #C105E9;
}
.fa-linkedin:hover{
    color: #337DAF;
}
